{{!
/*********************************************************************************
 * By installing or using this file, you are confirming on behalf of the entity
 * subscribed to the SugarCRM Inc. product ("Company") that Company is bound by
 * the SugarCRM Inc. Master Subscription Agreement (“MSA”), which is viewable at:
 * http://www.sugarcrm.com/master-subscription-agreement
 *
 * If Company is not bound by the MSA, then by installing or using this file
 * you are agreeing unconditionally that Company will be bound by the MSA and
 * certifying that you have authority to bind Company accordingly.
 *
 * Copyright (C) 2004-2014 SugarCRM Inc.  All rights reserved.
 ********************************************************************************/
}}

<iframe id="full" class="htmleditable {{#if this.options.def.span}}span{{this.options.def.span}}{{/if}}" frameborder="0" scrolling="no">
</iframe>

<button id="d_btn_01" data-action="toggle" class="btn btn-link btn-invisible toggle-text">
	{{#if this.collapsed}}
		{{str 'LBL_TEXTAREA_MORE' module}}
	{{else}}
		{{str '小さく' module}}
	{{/if}}
</button>
<button id="d_btn_02" data-action="fullscreen" class="btn btn-link btn-invisible toggle-text">
フルスクリーン
</button>
